html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
